<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::content}, ~{::css}, ~{::script})}">

<head>
    <title th:fragment="title">강의 상세</title>

    <th:block th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/courseDetail/course-detail.css}">
    </th:block>
</head>

<body>
<div th:fragment="content" class="cd-wrap container">

    <!-- 상단(배너 + 탭) -->
    <div th:replace="courseDetail/fragments/detail-header :: detailHeader(${course}, ${activeTab}, ${isLoggedIn})"></div>

    <section class="cd-body">
        <!-- 왼쪽(탭 내용) -->
        <div class="cd-left">
            <th:block
                    th:replace="${activeTab == 'curriculum'} ? ~{courseDetail/tabs/curriculum :: curriculumFragment(${chapters})}
                     : (${activeTab == 'reviews'} ? ~{courseDetail/tabs/reviews :: reviewsFragment(${reviews})}
                     : ~{courseDetail/tabs/intro :: introFragment(${course})})">
            </th:block>
        </div>


        <!-- 오른쪽(사이드바) -->
        <div th:replace="courseDetail/fragments/detail-sidebar :: detailSidebar(${course}, ${isLoggedIn})"></div>
    </section>

</div>

<th:block th:fragment="script">
    <script th:src="@{/js/courseDetail/course-detail.js}"></script>
</th:block>
</body>
</html>
